<div class=''>calmecac</div>

<%= link_to "Courses", courses_path %>
<%= link_to "My Classroom", my_classroom_path if user_signed_in? %>
<%= link_to "Register", new_registration_path(:user) if !user_signed_in? %>
