.courses-index {
  padding: px-to-rems(50) 0;

  &__title {
    text-align: center;
  }

  .row {
    margin-bottom: px-to-rems(50);
  }
}

.course-card {
  background: $primary-color;
  border-radius: px-to-rems(5);
  height: px-to-rems(350);
  margin: 0 auto;
  padding: px-to-rems(10);
  text-align: center;
  width: 90%;
}
