.inscription-overview {
  background: $primary-color;
  height: px-to-rems(750);

  &__module {
    border: px-to-rems(2) solid $secondary-color;
    border-radius: px-to-rems(3);
    margin: px-to-rems(50) auto 0;
    padding: px-to-rems(20) 0;
    width: 80%;

    &-indicator {
      display: inline-block;
    }

    &-stats {
      display: flex;
      justify-content: space-around;
      margin-top: px-to-rems(25);
    }
  }
}

.inscription-text {
  color: #4A4A4A;
  font-size: px-to-rems(14);
  line-height: px-to-rems(22);
  margin: px-to-rems(30) auto;
  max-width: px-to-rems(300);
}
