.myclassroom__header {
  background: $primary-color;
  padding: px-to-rems(50) 0;
}

.myclassroom__profile-pic {
  display: inline-block;

  &-img {
    border-radius: px-to-rems(100);
    height: px-to-rems(170);
  }
}

.myclassroom__stats {
  display: inline-block;
}

.myclassroom__activity-active,
.myclassroom__activity-past {
  padding: px-to-rems(50) 0;
  text-align: center;

  .main-title {
    margin-bottom: px-to-rems(50);
  }

  .row {
    margin-bottom: px-to-rems(50);
  }
}

.myclassroom__course {
  background: $primary-color;
  border-radius: px-to-rems(5);
  height: px-to-rems(150);
  margin: 0 auto;
  padding: px-to-rems(10);
  text-align: center;
  width: 90%;
}
