@import 'alom/base';
@import 'navbar';
@import 'sessions';
@import 'myclassroom';

body {
  font-family: $secondary-font;
}

.container {
  margin: 0 auto;
  width: 90%;
}

.main-title {
  color: $secondary-color;
  font-family: $primary-font;
  font-size: px-to-rems(36);
  font-weight: 700;
  margin-bottom: px-to-rems(15);
}

.mono-title {
  color: $secondary-color;
  font-family: $secondary-font;
  font-size: px-to-rems(18);
  margin-bottom: px-to-rems(10);
  text-transform: uppercase;
}

.mono-subtitle {
  color: $secondary-color;
  font-family: $secondary-font;
  font-size: px-to-rems(16);
  margin-bottom: px-to-rems(10);
}

.button-std {
  background: $secondary-color;
  border-radius: px-to-rems(40);
  border: px-to-rems(2) solid $secondary-color;
  color: $primary-color;
  font-family: $secondary-font;
  font-size: px-to-rems(18);
  height: px-to-rems(40);
  letter-spacing: px-to-rems(2);
  margin: px-to-rems(15) 0;
  text-transform: uppercase;
  transition: all .3s ease;
  width: px-to-rems(250);
}

.button-std:hover {
  background: transparent;
  border-radius: px-to-rems(40);
  border: px-to-rems(2) solid $alternative-color;
  color: $alternative-color;
  font-family: $secondary-font;
  font-size: px-to-rems(18);
  height: px-to-rems(40);
  letter-spacing: px-to-rems(2);
  margin: px-to-rems(15) 0;
  text-transform: uppercase;
  width: px-to-rems(250);
}

.button-outline__min {
  background: transparent;
  border-radius: px-to-rems(40);
  border: 0.125rem solid $secondary-color;
  color: $secondary-color;
  font-family: "Roboto Mono", monospace;
  font-size: px-to-rems(16);
  letter-spacing: px-to-rems(2);
  margin: px-to-rems(15) 0;
  padding: px-to-rems(5) px-to-rems(20);
  text-transform: uppercase;
  transition: all .3s ease;
  text-align: center;
}

.button-outline__min:hover {
  background: $secondary-color;
  border-radius: px-to-rems(40);
  border: 0.125rem solid $secondary-color;
  color: $primary-color;
  font-family: "Roboto Mono", monospace;
  font-size: px-to-rems(16);
  letter-spacing: px-to-rems(2);
  margin: px-to-rems(15) 0;
  padding: px-to-rems(5) px-to-rems(20);
  text-transform: uppercase;
  transition: all .3s ease;
  text-align: center;
}
